TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.ewogICJhdWQiOiAiNSIsCiAgImp0aSI6ICJzYW1wbGUiLAogICJpYXQiOiAxNjcxMzc1MjQ0LjM2MDk1NSwKICAibmJmIjogMTY3MTM3NTI0NC4zNjA5NTcsCiAgImV4cCI6IDE2ODY5MjM2NDQuMzUzNjQsCiAgInN1YiI6ICIwMDAwIiwKICAic2NvcGVzIjogWwogICAgIjJmYSIKICBdLAogICJhbGciOiAiUlMyNTYiCn0.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5cSflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQ
FREEONLY=True
